<div class="page-header">
  <h2>Rental Yield Calculator</h2>
</div>

<%= render 'form' %>

<div class="thumbnail">
  <h3>Rental Yield Results</h3>
  <p class="lead"><b>Expected Yield:</b> <%= @result %>%</p>
  <% if @property_info.nearby_property_price %>
	  <p class="lead"><b>Suggested Rent:</b> <%= number_to_currency(@property_info.rent_suggestion) %> per <%= @property_info.rental_period_type_id == 1 ? 'month' : 'year' %></p>
	  <p>Sugguested rent is based on the property average sold price in your area, which is at <strong><%= number_to_currency(@property_info.nearby_property_price.to_i) %></strong>, and your calculated rental yield.</p>
	<% else %>
		<p class="lead"><b>Suggested Rent:</b></p>
		<p class="text-warning">Cannot show rent suggestion due to no property average sold price can be found or incorrect postcode</p>
	<% end %>
</div>

<p>